* {
    margin: 0;
    padding: 0;
    font-family: "Encode Sans Expanded", sans-serif;
}

header {
    padding: 1rem;
    width: 100vw;
    max-height: 150px;
    position: sticky;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgb(226, 224, 204);
    box-shadow: 0 5px 15px rgba(10, 10, 10, 0.614);
    z-index: 1;
}

.h_contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h_contenido img {
    flex-grow: 1;
    max-height: 50px;
}

.h_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 1rem;
}
.h_lista a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.h_lista a:hover {
    color: rgb(8, 63, 66);
}


/* MENU MOBILE*/
.mobile {
    display: none;
}

/* para cerrar el menu mobile*/
.close {
    display: none;
}

footer {
    padding: 2rem;
    background-color: rgb(124, 124, 124);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch
}


@media(max-width: 799px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .h_lista {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 300px;
        /*solo para ocultarlo*/
        height: 100vh;
        width: 100vw;
    }

    .h_lista li {
        display: flex;
        align-items: center;
    }

    .mobile {
        display: flex;

    }
}